{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Maniac Music Flask</strong></h1>
        <img width="400" class="center" src="https://github.com/avac54765/avaflaskproject/assets/111486111/d9797040-eb45-4c37-9384-262f19db6d2b">
        <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }
        </style>

    </div>
{% endblock %}